<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964868862280-h1r65gmoidumh2j8h13i5rgr9kvjkhfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964868862280-h1r65gmoidumh2j8h13i5rgr9kvjkhfl</string>
	<key>API_KEY</key>
	<string>AIzaSyCt2jndAR0DJQiHT9wFDgDTgjPvnxrjiiM</string>
	<key>GCM_SENDER_ID</key>
	<string>964868862280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.stefaniamak.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat---course-e02b1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat---course-e02b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964868862280:ios:4241c87fb6576873e3437d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat---course-e02b1.firebaseio.com</string>
</dict>
</plist>